/* RESETS Y GENERALES */
* {
    margin: 0;
}

html, body {
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: grid;
    place-items: center;
    background-color: #86c6c5;
}


/* JUEGO */
.game-container {
    border-radius: 34px;
    background: linear-gradient(145deg, #4faab1, #438f95);
    box-shadow:  37px 37px 74px #72a8a7,
             -37px -37px 74px #9ae4e3;
    overflow: hidden;
}

.grid {
    background-color: #3f7271;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px;
}

.sq {
    background-color: #86c6c5;
    height: 150px;
    width: 150px;
    display: grid;
    place-items: center;
}

.icon {
    fill: #244949;
}


/* MENU */
.menu {
    box-sizing: border-box;
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 200px;
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #50a19f;
    box-shadow:  5px 5px 30px #376e6e,
             -5px -5px 30px #376e6e;
}

.menu .buttons {
    width: 100%;
    align-self: flex-end;
    display: flex;
    justify-content: space-between;
}

.menu button {
    border: none;
    background-color: #b3e4e3;
    box-shadow: 3px 3px 0px #244949;
    border: 3px solid #244949;
    font-weight: bold;
    color: #244949;
    padding: 10px 22px;
    border-radius: 100px;
    font-size: 1rem;
}

.menu button:active {
    box-shadow: #422800 2px 2px 0 0;
    transform: translate(2px, 2px);
}

.menu button:hover {
    background-color: #cfe9e8;
    cursor: pointer;
}


.menu .winner {
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    font-size: 1.75rem;
    gap: 10px;
}

.menu .winner svg {
    height: 65px;
    width: 65px;
}


/* SELECTOR */
.selector.menu {
    display: none;
    height: 400px;
    width: 400px;
}

.piezas {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 15px;
    place-items: center;
}

.piezas .icon {
    width: 60px;
    height: 60px;
}

.piezas .piece-box {
    transition: .25s;
    border-radius: 20px;
    cursor: pointer;
}

.piezas .piece-box.active {
    scale: 1.15;
    box-shadow: 0 0 10px #376e6e;
}

.piezas .piece-box:hover {
    scale: 1.15;
    box-shadow: 0 0 10px #376e6e;
}

.piezas .piece-box:active {
    scale: 1;
}



