.form {
    box-shadow: 0 0.5rem 1rem var(--shadows);

    width: fit-content;
    padding: 1.5rem;
    border: 3px solid var(--clr-4);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}

.input-container {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: 1rem;
    width: 100%;
}

label {
    transition: top .25s ease;
    margin-left: .75rem;
    padding: 0 .2rem;
    background-color: var(--bg);
    color: var(--text-1);
    position: absolute;
    top: -25%;
}

select {
    background-color: red;
    width: 100%;
}

input, select {
    background-color: transparent;
    outline: none;
    border: 2px solid var(--clr-2);
    border-radius: .25rem;
    padding: .4rem;
    font-size: 1.1rem;
    color: var(--text-2);
}

input:focus, select:focus {
    border-color: var(--clr-4);
}

input:disabled {
    cursor: not-allowed;
    border-color: var(--clr-1);
}

input:focus + label, select:focus + label {
    top: -55%;
}

.btn {
    cursor: pointer;
    color: var(--text-1);
    background-color: var(--clr-1);
    border: 2px solid var(--clr-4);
    box-shadow: 2px 2px 0px var(--clr-4);

    font-weight: 500;
    padding: .5rem 1rem;
    border-radius: 100px;
}

.btn:active {
    box-shadow: var(--clr-4) 0 0 0;
    transform: translate(2px, 2px);
}

.btn:hover {
    background-color: var(--clr-0);
}

.result {
    font-weight: bold;
    font-size: 1.3rem;
    color: var(--clr-4);
    width: fit-content;
    padding: 0 .5rem;
    height: 1.6rem;
    display: flex;
    align-items: center;
}